
body {
    background: #eeeeee;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin: 50px 0;
}

head {
    display: contents;
}
link {
    display: contents;
}
meta {
    display: contents;
}

.influ-name {
    font-weight: 400;
    font-size: 25px;
}

.fav-image {
    width: 90%;
    max-width: 500px;
}